*{
	box-sizing: border-box;
	margin:0;
}
body{
	font-size:18px;
}

h1 {
	font-size: 40px;
	font-family: 'Comfortaa', cursive;
}
	
h3 {
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 3px;
	font-family: 'Comfortaa', cursive;
}

#wrapper{
	height: auto;
	margin: auto 20px;
}

header {
	margin-top: 40px;
	padding-top: 40px;
	height: 165px;
	background-color: rgb(230, 240, 240);
	
}
.header {
	text-align: center;
	
}
.header p{
	font-style: italic;
	opacity: .7;
	font-weight: 100;
}
#main{
	float: left;
	width: 100%;
	background-color:rgb(230, 240, 240);
}
#articles {
	margin: auto 5px;
	padding: 15px 0;
	background-color: rgb(230, 238, 235);
	width:75%;
	display: flex;
	flex-wrap : wrap;
	float: left;
		
}
 article {
	margin:5px auto;
	padding:10px 15px;
	width: 30%;
	justify-content: center;
	}

 article p {
	text-align: justify;
	line-height: 1.5;
	padding-top: 3px;
	font-size: 15px;
	
}
 article:first-child{
	 box-shadow: 3px 3px 0 #c9c9c7;
	/* background-color: rgb(217, 215, 210); */
}
img {
	width:80%;
	height: 110px;
}
a{
	text-decoration: none;
	color:rgb(0,0,250);
	font-size: 14px;

}
a:hover{
	color:red;
	margin-top: 2px;

}
#side{
	width: 22%;
	height: auto;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgb(228, 238, 237);
	border-style: outset;
	
}
#side h3{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 0;
}
#side p{
	margin-top: 15px;
	text-align: justify;
	}
footer {
	margin-top: 15px;
	margin-bottom: 25px;
	float: left;
	width: 100%;
}
footer p {
	opacity: .5;
	text-align: center;
	}

@media screen and (max-width : 420px){
	header{
		height: 100px;
	}
  	article{
		width:100% ;
	}
	article p{
		line-height: 1;
	}	
	h1{
		font-size: 15px;
	}
	h3{
		font-size:15px;
	}
	#side {
		width: 20%;
		padding: 0;
	}
	#side p{
		font-size:8px;
		margin-top: 15px;
		
	}
	#side a{
		font-size: 5px;
		
	}
	#side h3{
		font-size: 10px;
		
	}
}
@media screen and (max-width : 820px){
	article{
		width: 50%;
	}
	
}

	